apiVersion: ovsdpdk.k8snetworkplumbingwg.io/v1alpha1
kind: OvsDpdkConfig
metadata:
  name: {{ .Name }}
spec:
  vhostUser:
    containerRootPath: /var/run/ovsdpdk
    user: 0
    group: 0
{{- if .SelinuxLabel }}
    selinuxLabel: {{ .SelinuxLabel }}
{{- end }}
