apiVersion: ovsdpdk.k8snetworkplumbingwg.io/v1alpha1
kind: OvsDpdkResourcePolicy
metadata:
  name: {{ .Name }}
  namespace: dra-driver-ovsdpdk
spec:
  nodeSelector:
    nodeSelectorTerms:
      - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
              - {{ .NodeName }}
  bridges:
    - name: {{ .BridgeName }}
      mtu: {{ .Mtu }}
